/*@import url('https://fonts.googleapis.com/css?family=Comfortaa');
.top-menu {
  padding: 20px;
}*/

@font-face {
    font-family: 'Gotham Pro Bold';
    src: local('Gotham Pro Bold'), local('Gotham-Pro-Bold'),
        url('Fonts/GothamPro-Bold.woff2') format('woff2'),
        url('Fonts/GothamPro-Bold.woff') format('woff'),
        url('Fonts/GothamPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('Gotham Pro Regular'), local('Gotham-Pro-Regular'),
        url('Fonts/GothamPro.woff2') format('woff2'),
        url('Fonts/GothamPro.woff') format('woff'),
        url('Fonts/GothamPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }


.button{
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  border-radius: 25px;
  padding: 15px 20px;
}
button a{
  font-family: 'Gotham Pro';
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.button-login{
  float: right;
  background-color: #956060;
}
.button-registration{
  float: right;
  background-color: #a68868;
}
.button-logout{
  background: #946060;
  float: right;
}

.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.navbar-logo {display: inline-block;}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-main li {display: inline-block;}
.menu-main li a {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Gotham Pro';
  color: white;
  transition:.3s linear;
}
.menu-main li a:before {
  content: "";
  width: 9px;
  height: 9px;
  background: white;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translate(-15px, -10px);
  opacity: 0;
  transition: .3s linear;
}
.menu-main a:hover:before {opacity: 1;}

.main-li{
  float:left;
  display: inline-block;
}
.main-link{
  color: white;
  text-decoration: none;
  font-family: 'Gotham Pro';
  font-size: 36px;
}

.main-img{

}
.main-container{
  display: flex;
  justify-content: space-between;
}
.left-bar{
  width: 20%;
}
.main-content{
  min-width: 800px;
  margin: 0px 10px;
}
.right-bar{
  margin: 0px, 20px;
  max-width: 340px;
  display: flex;
  flex-direction: column;
}
.sections{
  opacity: 0.7;
  margin: 20px 0px;
  border-radius: 15px;
  font-family: 'Gotham Pro';
  font-size: 16px;
  background: #4e3f32;
  padding: 0;
}
.sections a{
  text-decoration: none;
  color: #9a8671;
  line-height: 30px;
  padding: 10px;
}
.sections a:hover{

}
.sections hr{
  color: #9a8671;
  margin: 0px;
}
.content-header{
position: relative;
  opacity: 0.7;
  background: #d0cccc;
  margin: 15px 0 px;
  color: #4b4646;
  font-family: 'Gotham Pro Bold';
  font-size:35px;
  word-wrap: break-word;
  padding: 20px 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.img-news{
  margin: 0px 0px 0px 15px;
  width: 50px;
}
.img-info{
  position: absolute;
  width: 35px;
  right: 45px;
  top: 25px;
}
.content-info{
  opacity: 0.7;
  margin: 40px 0px;
  padding: 15px;
  border-radius: 25px;
  background: #724d4d;
  font-size: 16px;
  color: #987777;
  height: 400px;
}
.articles-content{
  margin: 20px 0px;
  border-radius: 25px;
  background: #6e6666;
  font-family: 'Gotham Pro';
  font-size: 16px;
  color: #aaa5a5;
  opacity: 0.7;
}
.articles-content li {
  padding: 15px 40px 15px 40px;

}
.articles-content a{
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Gotham Pro';
  color: #b19b83;
}
.articles-content a:hover{
    color: #a97236;
}
.line-articles{
  color: #b19b83;
  margin: 0px;
}
/*@media (max-width: 660px) {
.menu-main {
  float: none;
  padding-top: 20px;
}
.top-menu {
  text-align: center;
  padding: 20px 0 0 0;
}
.menu-main a {padding: 0 10px;}
.menu-main a:before {transform: rotate(45deg) translateY(-6px);}
}
@media (max-width: 600px) {
.menu-main li {display: block;}
}*/
html{
    color: white;
    background: url(Images/background.png) black;
    background-attachment: fixed;
    font-family: 'Gotham Pro';
}
