{% extends "base.html" %}
{% block content %}
    Логин: <input name="login" id="name"><br>
    Пароль: <input type="password" name="password" id="password"><br>
    Подтверждение пароля: <input type="password"><br>
    Почта: <input name="email" id = "email"><br>
    Имя: <input><br>
    Фамилия: <input><br>
    <button type="button" id="regist">Зарегистрироваться</button>
    <button>Отмена</button>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
 $(document).ready(function() {

    $("#regist").on("click", function() {
        let login = $("#name").val();
        let password = $("#password").val();

        $.ajax({
          type : 'POST',
          url : "{{url_for('registration')}}",
          data: {"login": login, "password": password}
        }).done(function(data){
            console.log(data);
        })
    });
 });
</script>

{% endblock %}