<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="top-menu">
        <ul>
            <li class="main-li">
                <img class="main-img" src="/static/Images/play-button.png" width="35px">
                <a class="main-link" href = "/">MUSICMI</a>
            </li>
        </ul>
        <ul class="menu-main">

            <li><a href = "/bulletins">Bulletins</a></li>
            <li><a href = "/users">Users</a></li>
            <li><a href = "/artists">Artists</a></li>
            <li><a href = "/articles">Articles</a></li>


        {% if not session['name'] %}
            <div>
              <button class="button button-login" ><a href="/login" >Вход</a></button>
              <button class="button button-registration"><a href="/registration">Регистрация</a></button>
            </div>
            {% else %}
            <li><a href = "{{url_for('user', username=session.get('name'))}}">My Page</a></li>
            <li><a href = "/songs/add_song">Add song</a></li>
            <li><a href = "/bulletins/create">Create bulletins</a></li>
            <li><a href = "/articles/create">Create article</a></li>
            <div>
                <button class="button button-logout"><a href= "/logout">Logout</a></button>
            </div>
            {% endif %}
          </ul>
    </nav>
    <hr>
        {% block content %}{% endblock %}
</body>
</html>