{% extends "base.html" %}
{% block content %}
    <form method="POST" action="{{ url_for('change_artist', id=artist.id) }}">
        Name: <input name="name" value="{{artist.name}}"><br>
        <input type="submit" value="Save"><br>
    </form>
    <form method="GET" action="{{ url_for('add_member', id=artist.id) }}">
        <input type="submit" value="Add member"><br>
    </form>
    <form method="GET" action="{{ url_for('delete_member', id=artist.id) }}">
        <input type="submit" value="Delete member"><br>
    </form>
{% endblock %}